<div class="panel panel-flat">
  <div class="panel-heading">
    {% set registered = 0 %}
    {% set waitingPayment = 0 %}
    {% for attendee in attendees %}
      {% if attendee.ticketNumber == 0 %}
        {% set registered = registered + 1 %}
      {% else %}
        {% if attendee.hasPaid %}
          {% set registered = registered + attendee.ticketNumber %}
        {% else %}
          {% set waitingPayment = waitingPayment + 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}
    <h5 class="panel-title">{{ registered }} inscrits / {{ waitingPayment }} en attente de paiement</h5>
  </div>
  <ul class="media-list media-list-linked">
    {% for attendee in attendees %}
      <li class="media">
        <a class="media-link">
          <div class="media-body">
            <div class="media-heading text-semibold">
              {{ attendee.firstname }} {{ attendee.name|first|capitalize }}.
              {% if attendee.pseudo %}
                ({{ attendee.pseudo }})
              {% endif %}
            </div>
            {% if attendee.seats > 0 %}
              <span class="text-muted">
                <b>{{ attendee.seats }}</b> places en covoiturage depuis {{ attendee.originCity }}
              </span>
            {% endif %}
          </div>
          <div class="media-right media-middle">
            {% if attendee.ticketNumber == 0 %}
              <span class="label label-success">INSCRIT</span>
            {% else %}
              {% if attendee.hasPaid %}
                <span class="label label-success">INSCRIT</span>
              {% else %}
                <span class="label label-warning">ATTENTE DU PAIEMENT</span>
              {% endif %}
            {% endif %}
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>