<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Meeting Coasters World au Pal - 21 avril 2018{% endblock %}</title>
  <!-- Global stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
        type="text/css">
  <link href="{{ asset('assets/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ asset('assets/css/core.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ asset('assets/css/components.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ asset('assets/css/colors.min.css') }}" rel="stylesheet" type="text/css">
  <!-- /global stylesheets -->
  <!-- Core JS files -->
  {#<script type="text/javascript" src="{{ asset('assets/js/plugins/loaders/pace.min.js') }}"></script>#}
  <script type="text/javascript" src="{{ asset('assets/js/core/libraries/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('assets/js/core/libraries/bootstrap.min.js') }}"></script>
  {#<script type="text/javascript" src="{{ asset('assets/js/plugins/loaders/blockui.min.js') }}"></script>#}
  <!-- /core JS files -->
  <!-- Theme JS files -->
  {#<script type="text/javascript" src="{{ asset('assets/js/plugins/forms/styling/uniform.min.js') }}"></script>#}
  <script type="text/javascript" src="{{ asset('assets/js/core/app.js') }}"></script>
  <script type="text/javascript" src="{{ asset('assets/js/pages/login.js') }}"></script>
  <!-- /theme JS files -->
  {% block stylesheets %}{% endblock %}
</head>

<body class="login-container">

<!-- Main navbar -->
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>

    <ul class="nav navbar-nav pull-right visible-xs-block">
      <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
    </ul>
  </div>
</div>
<div
    style="font-weight: lighter;background: url(assets/images/yukon.jpg) no-repeat; background-size: cover;">
  <div class="page-container">
    <div class="page-content">
      <div class="content-wrapper">
        <div class="content">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>

