{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
          {{ message }}
        </div>
      {% endfor %}
      <!-- List with labels -->
      <div class="panel panel-flat">
        <div class="panel-heading">
          {% set tickets = 0 %}
          {% for attendee in attendees %}
            {% set tickets = tickets + attendee.ticketNumber %}
          {% endfor %}
          <h5 class="panel-title">{{ tickets }} participants</h5>
        </div>
        <ul class="media-list media-list-linked">
          {% for attendee in attendees %}
            <li class="media">
              <a class="media-link">
                <div class="media-body">
                  <div class="media-heading text-semibold">
                    {{ attendee.firstname }} {{ attendee.name|first|capitalize }}.
                    {% if attendee.pseudo %}
                      ({{ attendee.pseudo }})
                    {% endif %}
                  </div>
                  {% if attendee.seats > 0 %}
                    <span class="text-muted">
                <b>{{ attendee.seats }}</b> places en covoiturage depuis {{ attendee.originCity }}
              </span>
                  {% endif %}
                </div>
                <div class="media-right media-middle">
                  {% if attendee.ticketNumber == 0 %}
                    <span class="label label-success">INSCRIT</span>
                  {% else %}
                    {% if attendee.hasPaid %}
                      <span class="label label-success">PAYÉ</span>
                    {% else %}
                      <span class="label label-warning">ATTENTE DU PAIEMENT</span>
                    {% endif %}
                  {% endif %}
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- /list with labels -->
    </div>
  </div>
{% endblock %}

